# dotfiles, with exceptions:
.*
!.gitignore
# python compiled files
*.py[co]
# emacs backup files
*~
# configuracion del servidor Odoo
# TODO # podría ponerse en filestore
*.cfg
#pycharm
#put here pycharm generated gitignore
#
# not tracked subdirectories
note
#quiero excluir note pero no nota n tampoco carpeta notes
/src/*
/env/*
/logs/*
!/logs/carpeta/
